  {% extends 'base.html' %}
{% block title %}up_date{% endblock %}
{% set page = 'Up_date' %}

{% block tohen %}

             <form action="/update_user" method="post">
                <input type="text" name="name" placeholder="Insert Name" required>
                <input type="text" name="dog_name" placeholder="Dog name" required>
                <input type="password" name="password" placeholder="Insert password" required>
                <input type="hidden" name="id" value={{id}}>
                <input type="submit">
            </form>

{% endblock %}